name: Lint

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      security-events: write

    steps:
      - uses: actions/checkout@v4
      - uses: advanced-security/python-lint-code-scanning-action@v1
        with:
          linter: pylint
